section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

h1, h2, article {
  width: 100%;
  padding: 0 5px;
}

div {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;
}

div:hover {
  border: 1px solid grey;
  box-shadow: 3px 3px lightgrey;
}

.dhidd {
  background-image: url(../img/index.jpeg);
  background-size: cover;
  background-position: center;
}
