div, p {
  width: 10vw;
  margin: 5px;
}

div {
  height: 20vh;
  border: 1px solid black;
  border-radius: 50%;
}

p, div {
  display: inline-block;
}

.dhidd {
  background-image: url(../img/index.jpeg);
  background-size: cover;
  background-position: center;
}
