@font-face {
  font-family: abszero;
  src: url(abszero.otf);
}

h1, h2, div.head, div.main {
  font-family: abszero;
  padding: 0 5px;
}

h1, h2 {
  color: #00FF00;
}

div.head, div.main {
    width: 100%;
}

div.head {
  border-bottom: 2px outset black;
  border-top: 2px outset black;
}

div.main {
  padding: 10px;
}

section, div#choices, div.main, div.head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

div.head {
  height: 15vh;
  background-color: grey;
}

body, div.main {
  background-color: lightgrey;
}

div.card, div.choiceBack {
  width: 160px;
  height: 160px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;
}

div.card:hover, div.choiceBack:hover {
  border: 1px solid grey;
  box-shadow: 3px 3px lightgrey;
}

.dhidd, div.choiceBack {

  background-size: cover;
  background-position: center;
}
